@use 'sass:math';

// Reset

body {
  margin: 0;
  //overflow: hidden;
}

$min_v: min(100vw, 100vh);
$size-grid: calc(8 * $min_v / 9);
$size-square: calc($size-grid / 8);
$border-size: calc($size-square / 2);

$color-white: #ededee;
$color-black: #8776b7;

.square {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  &:hover {
    border: yellow solid 5px;
  }

  &.clicked {
    border: red solid 5px;
  }
}

#grid {
  border: $border-size solid #312f33;
  border-radius: $border-size;
  width: $size-grid;
  height: $size-grid;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);

//  Make it centered horizontally and vertically
  margin: auto;
}

.white {
  background-color: $color-white;
}

.black {
  background-color: $color-black;
}